/*==================
  BASE
===================*/
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

input,
select,
button {
  cursor: pointer;
}

button,
select {
  font-weight: bold;
}

button:hover,
button:target,
select:hover,
button:target {
  background: #f8f9fa;
  transition: 0.5s;
}

/*==================
  LAYOUT
===================*/
body,
.color-container {
  display: flex;
}

body {
  font-family: "Inter", sans-serif;
  background: #f8f9fa;
  color: #111827;
  min-height: 100vh;
  align-items: center;
  text-align: center;
}

.wrapper {
  width: 90%;
  max-width: 690px;
  margin: 0 auto;
  border-radius: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wrapper,
select,
button {
  background: #fff;
}

form,
section {
  padding: 2em;
}

section {
  padding-top: 0;
}

input,
select,
button {
  width: 100%;
}

input {
  height: 3em;
}

select,
button {
  border: 1px solid #d1d5db;
  border-radius: 0.5em;
  padding: 1em;
}

input,
select {
  margin-bottom: 1em;
}

.color-container {
  justify-content: space-between;
  align-items: center;
}

.color {
  height: 10vh;
  width: 70%;
}

/*==================
  MQ
===================*/
@media screen and (min-width: 620px) {
  .wrapper {
    width: 85%;
  }

  form,
  section {
    display: flex;
  }

  form {
    justify-content: space-between;
  }

  input,
  select {
    margin-bottom: 0;
  }

  input,
  select,
  button {
    width: auto;
  }

  input,
  button {
    flex-grow: 1;
  }

  select {
    flex-grow: 2;
    margin: 0 1em;
  }

  section {
    padding: 0;
  }

  .color-container {
    flex-direction: column;
    flex-grow: 1;
  }

  .color {
    width: 100%;
    height: 50vh;
  }
}
